
* {
  font-size: 10px;
  font-family: 'Abel', sans-serif;
}

/*
html, body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
*/

body {
  margin: auto;
  background-color: #ffffff;
}


.outer { /* vertical centering */
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle { /* vertical centering */
  display: table-cell;
  vertical-align: middle;
}

.inner { /* vertical centering */
  margin-left: auto;
  margin-right: auto;
  width: 560px; /* match board size */
}

.table {
  display: table;
  position: relative;
  top: 35px; /* keep so top elements don't go off page */
  min-width: 560px; /* board size; cell size(width & height) * 20; (20x20 board) */
  background: url(assets/boardBackground2.jpg) no-repeat center center;
  border: solid 1px #000000;
}

#blackPrisoners {
  position: absolute;
  top: -25px;
  left: 45px;
}

#whitePrisoners {
  position: absolute;
  top: -25px;
  left: 200px;
}

#undoDiv {
  border: 1px solid #000000;
  position: absolute;
  top: -33px;
  left: 400px;
  padding: 3px;
  cursor: pointer;
}

#moveCount {
  position: absolute;
  top: -25px;
  right: 14px;
}

.row {
  display: table-row;  
}

.cell {
  display: table-cell;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
}

.grid {
  background: url(assets/grid.png) no-repeat center center;
}

.starPoint {
  background: url(assets/starPoint.png) no-repeat center center;
}

.topLeftCorner {
  background: url(assets/topLeftCorner.png) no-repeat center center;
}

.topEdge {
  background: url(assets/topEdge.png) no-repeat center center;
}

.topRightCorner {
  background: url(assets/topRightCorner.png) no-repeat center center;
}

.rightEdge {
  background: url(assets/rightEdge.png) no-repeat center center;
}

.bottomRightCorner {
  background: url(assets/bottomRightCorner.png) no-repeat center center;
}

.bottomEdge {
  background: url(assets/bottomEdge.png) no-repeat center center;
}

.bottomLeftCorner {
  background: url(assets/bottomLeftCorner.png) no-repeat center center;
}

.leftEdge {
  background: url(assets/leftEdge.png) no-repeat center center;
}

.label {
  background: transparent;
}

.数 {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

