
* {
  font-size: 10px;
}

/*
html, body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
*/

body {
  margin: auto;
  background-color: #55ffff;
}



.table {
  display: table;
  position: relative;
  margin: auto;
}

#blackPrisoners {
  position: fixed;
  bottom: 20px;
  right: 1px;
}

#whitePrisoners {
  position: fixed;
  bottom: 10px;
  right: 1px;
}

#moveCount {
  position: fixed;
  bottom: 1px;
  right: 1px;
}

.row {
  display: table-row;  
}

.cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.board:hover {
  background: url(assets/bgs.png) no-repeat center center;
}

.grid {
  background: url(assets/grid.png) no-repeat center center;  
}

.starPoint {
  background: url(assets/starPoint.png) no-repeat center center;    
}

.topLeftCorner {
  background: url(assets/topLeftCorner.png) no-repeat center center;
}

.topEdge {
  background: url(assets/topEdge.png) no-repeat center center;
}

.topRightCorner {
  background: url(assets/topRightCorner.png) no-repeat center center;
}

.rightEdge {
  background: url(assets/rightEdge.png) no-repeat center center;
}

.bottomRightCorner {
  background: url(assets/bottomRightCorner.png) no-repeat center center;
}

.bottomEdge {
  background: url(assets/bottomEdge.png) no-repeat center center;
}

.bottomLeftCorner {
  background: url(assets/bottomLeftCorner.png) no-repeat center center;
}

.leftEdge {
  background: url(assets/leftEdge.png) no-repeat center center;
}

.label {
  background: transparent;
}


